@model Application.ViewModels.PokemonViewModel

@{
        ViewData["Title"] = "Eliminar Pokemon";
}


<div class="row">

    <div class="card">
        <div class="card-header bg-danger text-light">
            <h4>¿Deseas Eliminar la Region @Model.Name ?</h4>
        </div>
        <div class="card-body">

            <form method ="post" asp-controller="Pokemon" asp-action="DeletePost">
                    
                    <input type="hidden" asp-for="Id" />
                         
                    <button type="submit" class="btn-primary btn-danger" >Eliminar </button>
                    <a asp-controller="Pokemon" asp-action="Index" class="btn btn-warning">Cancelar</a>
                    
                </form>
        </div>
    </div>
</div>