@model Application.ViewModels.RegionViewModel

@{
    bool edit = Model.Id == 0 ? false : true;
}

<div></div>
<div class=""></div>



<div class="container-fluid">

    <div class="col-6 offset-3">
        <div class="card">
            <div class="card-header bg-dark text-ligth">
                <h4 class="text-white">@(edit ? $"Editando la region: {Model.Name}" : "Crear una nueva Region") </h4>
            </div>
            <div class="card-body">

                <form method="post" asp-controller="Region" asp-action="@(edit ? "Edit" : "Create")">

                    <div class="mb-3">
                        <label asp-for="Name" class="control-label h4">Nombre de la Region: </label>
                        <input type="text" asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>

                    </div>

                    <input type="hidden" asp-for="Id" />

                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-info btn-lg">Guardar </button>
                        <a asp-controller="Region" asp-action="Index" class="btn btn-warning btn-lg">Volver atras</a>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>
